<?xml version="1.0"?>
<launch>
    <node name="hands_tracker_1" pkg="jetson_camera_node" type="hand_tracker_emulator.py" respawn="false" output="screen"/>
    <node name="hands_tracker_2" pkg="jetson_camera_node" type="hand_tracker_emulator.py" respawn="false" output="screen"/>
    <node name="hands_tracker_3" pkg="jetson_camera_node" type="hand_tracker_emulator.py" respawn="false" output="screen"/>
</launch>